{% extends "base.html" %}

{% block header %}
<h1 class="masthead-heading mb-0">Buscador de consultas de Europa!</h1>
{% endblock header  %}

{% block content  %}
<!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            </div>
            <div class="col-lg-12 order-lg-1">
                <div class="p-5">

                <h2 class="display-4">Aquí podrás ver los destinos mas populares de Europa.</h2>

        {% comment %} <form action="" method="POST"> {% endcomment %}

            <form action="" method="get">
                {% csrf_token %}
                <input type="text" name="destino" placeholder="Buscar destino europeo">
                <input type="submit" value="Buscar">
            </form>
            {% if listado_de_europa %}
             <ul>
                 {%for europa in listado_de_europa%}
                    <li> {{europa}}</li> |<a href={% url "actualizar_europa" europa.id %}>Actualizar</a> | <a href={% url "eliminar_europa" europa.id %}>Eliminar</a> | <a href={% url "detalle_europa" europa.id %}>Detalle</a>
                    </li>
                    {%endfor   %}
             </ul>
             {% else %}
             <p>No se encontró el destino buscado.</p>
             {% endif %}
        </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}