{% extends "base.html" %}

{% block header %}
<h1 class="masthead-heading mb-0"> Ingresa la información sobre el lugar más lindo de Europa</h1>
{% endblock header  %}

{% block content  %}
<!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            </div>
            <div class="col-lg-10 order-lg-1">
                <div class="p-5">

                <h2 class="display-4">Viajá por Europa</h2>
                <a href={% url "Buscador" %}>Click aquí para ingresar al buscador de destinos de Europa</a> 
                <p>


                </p>
        <form action="" method="POST">
            {% csrf_token %}

                <table>
                    {{formulario.media}}
                    {{formulario}}
                </table>
                <input type="submit" value="Crear">
            </form>


            {% comment %} <p>
                 Destino:
                <input type="text" name="destino"> 
            </p>
            <p>
                Mejor mes de viaje:
                <input type="text" name="mes">
            </p>
            <p>
                Descripcion:
                <input type="text" name="descripcion">
            </p>
            <p>
                Días para conocer:
                <input type="number" name="dias">
            </p>
            <p>
                Fecha de creacion de la info:
                <input type="date" name="fecha_creacion">
            </p>

                <button type="submit">Ingresar</button>
                 {% endcomment %}
        </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

