{% extends "base.html" %}

{% block header %}
<h1 class="masthead-heading mb-0">Conocé los lugares mas lindos de Europa!</h1>
{% endblock header  %}

{% block content  %}
<!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">

                <h2 class="display-4">Viajá por Europa</h2>

        <form action="" method="POST">
            {% csrf_token %}

            <p>
                 Destino:
                <input type="text" name="destino"> 
            </p>
            <p>
                Mes de viaje:
                <input type="text" name="mes">
            </p>
            <p>
                Días de hospedaje:
                <input type="number" name="dias">
            </p>

                <button type="submit">Consultar</button>
        </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

