{% extends "base.html" %}

{% block header %}
<h1 class="masthead-heading mb-0">Cambiar contraseña</h1>
{% endblock header  %}

{% block content  %}
<!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">

                <h2 class="display-4">Cambia la contraseña</h2>

        {% comment %} <form action="" method="POST"> {% endcomment %}

            <form action={% url "cambiar_password" %} method="POST"> 
                {% csrf_token %} 
                <table> 
                    {{form}}
                </table> 
                <input type="submit" value="Cambiar"> 
            </form>
            
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}